<ion-header [translucent]="true">
  <ion-toolbar color="devVioleta">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true" lines="inset">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/PokemonRed.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon</h2>
        <h3>Red</h3>
        <p>GameBoy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/Megaman.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Mega Man</h2>
        <h3>X</h3>
        <p>GameBoy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/zelda.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>The Legend of Zelda</h2>
        <h3>Oh Karina del Tiempo</h3>
        <p>Nintendo 64</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/pacman.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Pac-Man</h2>
        <h3>World</h3>
        <p>Sega</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/supermarioworld.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Super Mario</h2>
        <h3>World</h3>
        <p>Nintendo 64</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/PokemonRed.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon</h2>
        <h3>Red</h3>
        <p>GameBoy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/Megaman.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Mega Man</h2>
        <h3>X</h3>
        <p>GameBoy</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/zelda.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>The Legend of Zelda</h2>
        <h3>Oh Karina del Tiempo</h3>
        <p>Nintendo 64</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/pacman.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Pac-Man</h2>
        <h3>World</h3>
        <p>Sega</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/CusmoterImage/supermarioworld.jpg" >
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-searchbar></ion-searchbar>
      </ion-avatar>
      <ion-label>
        <h2>Super Mario</h2>
        <h3>World</h3>
        <p>Nintendo 64</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
